server:
  port: 8081

spring:
  application:
    name: ORDERS-SERVICE
    cloud:
      consul:
        host: localhost
        port: 8500
        discovery:
          enabled: true
          register: true
          service-name: ${spring.application.name}
          health-check-path: /actuator/health
          health-check-interval: 10s
